spring:
  datasource:
    hikari:
      write:
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://localhost:9030/mystore?useSSL=false&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
        username: masteruser
        password: masterpassword
        maximum-pool-size: 20
        maximum-idle: 20
        max-lifetime: 18000000 # 5 hour
        connection-timeout: 5000 # 5 second
      read:
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://localhost:9031/mystore?useSSL=false&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
        username: slaveuser
        password: slavepassword
        maximum-pool-size: 30
        maximum-idle: 30
        max-lifetime: 18000000 # 5 hour
        connection-timeout: 5000 # 5 second

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL57InnoDBDialect
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 500
    open-in-view: false

  redis:
    host: localhost
    port: 6379

server:
  tomcat:
    uri-encoding: UTF-8
  port: 8080

logging:
  level:
    com.hyoseok.dynamicdatasource: debug
    com.zaxxer.hikari.HikariConfig: debug
    com.zaxxer.hikari: trace
    org.hibernate.SQL: debug
    org.hibernate.type: trace
